body{
    background-color: #ABEC54;
}

html {
  scroll-behavior: smooth;
}

nav{
    background-color: transparent;
}

.navbar-nav>li{
    font-size: 20px;
}

.intro>p{
    font-size: 20px;
}

footer{
    background-color: #555555;
}

footer p,h5, .footer-copyright{
    color: white;
}

.botoesCores button{
    margin-right: 30px;
}

.paragrafo p{
    text-align: justify;
    font-weight: 600; 
}