body{
    background-color: #ABEC54;
}

html {
  scroll-behavior: smooth;
}

nav{
    background-color: transparent;
}

.navbar-nav>li{
    font-size: 20px;
}

.intro>p{
    font-size: 20px;
}

footer{
    background-color: #555555;
}

footer p, footer h5, .footer-copyright{
    color: white;
}

.botoesCores button{
    margin-right: 30px;
}

.paragrafo p{
    text-align: justify;
    font-weight: 600; 
}

footer a{
    color: white;
}

footer a:hover{
    color: #ABEC54;
}

.btn-primary{
    background-color: #f8f9fa!important;
    border-color: black!important;
    color: black!important;    
}

.enviarNewsletter{
    background-color: #f8f9fa;
    border-color: none!important;
}

.botoesCores button{
    border-radius: 15px;
}